body {
    background-color: white;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 16px;
    /* Autres styles */
  }
  
  a {
    color: rgb(73, 155, 231); /* Couleur des liens */
    text-decoration: none; /* Supprimer le soulignement des liens */
  }
  /* Styles pour le header */
  header {
    display: flex;
    justify-content: space-between; /* Place les éléments à chaque extrémité */
    align-items: center; /* Centre verticalement les éléments */
    color: white;
    background-color: black;
    position: absolute;
    width: 98.9%;
  }
  
  /* Styles pour le logo */
  .logo button {
    max-width: 150px; /* Ajustez la largeur du logo selon vos besoins */
    margin-left: 30px;
    background: transparent;
    justify-content: center;
    text-align: center;
    color: orange;
  }
  
  /* Styles pour la barre de navigation */
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0 30px;
    display: flex;
  }
  
  nav ul li {
    margin-right: 30px; /* Marge entre les éléments de la barre de navigation */
  }
  
  nav ul li:last-child {
    margin-right: 0; /* Supprime la marge du dernier élément */
  }
  
  nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: 'Laila', sans-serif;
  }
  nav a:hover {
    color: orange;
  }
  
  /* Le reste de vos styles pour le contenu de la page */
  
  .header-title {
    text-align: center; /* Centre le texte horizontalement */
    justify-content: center;
    align-items: center;
    font-family: 'Lobster', cursive;
    size: 12px;
  }  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20lvh;
    background: url(qqq-cont.png);
    background-size: 250lvh;
}
input {
    display: inline-block;
    width: 45lvh;
    margin: 10px 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
}
/* Style pour le champ de sélection */
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
}
label {
    size: 24px;
    color: black;
    flex-direction: column;
    margin-right: 0;
    text-align: left;
}
.cont {
    border-radius: 10px;}
.nom {
    margin-right: 20lvh;
}
.nom-1 {
    margin-right: 17lvh;
}
.nom-2 {
    margin-right: 19lvh;
    width: 30lvh;
    height: 25px;
}
.mess {
    width: 50lvh;
    height: 30lvh;
    border-radius: 10px;
}
.envo {
    width: 130px;
    font-size: 20px;
    font-family: 'Lemon', cursive;;
    padding: 10px 10px;
    color: white;
    background-color: #333;
    border-radius: 20px;
    box-shadow: 2px solid orange;
}
.envo:hover {
    color: orange;
    opacity: 0.7;
}
/* Style pour les options du champ de sélection */
option {
    font-size: 16px;
}

.element1 {
    background-color: rgb(235, 235, 235);
    height: 70lvh;
    padding: 20px 20px;
    border: 1px solid #ccc;
    margin: 10px;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 20px;
}
.element2 {
    background-color: rgb(237, 237, 237);
    backface-visibility: 0.5;
    height: 26lvh;
    padding: 20px;
    border: 1px solid #ccc;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    color: black;
}
.social-icons {
    display: inline-block;
    font-size: 24px;
    justify-content: center;
}

.social-icons a {
    color: #007bff; /* Couleur des icônes */
    margin: 10px 10px; /* Marge entre les icônes */
    display: inline-block;
    list-style: none;
    width: 60px;
}

.social-icons a:hover {
    color: #0056b3; /* Couleur au survol */
}
.what {
    color: rgb(1, 192, 1);
  }
  .face {
    color: rgb(51, 51, 246);
  }
  .inst {
    color: rgb(205, 46, 10);
  }
  .twit {
    color: rgb(72, 126, 242);
  }
  .emai {
    color: rgb(73, 141, 230);
  }
  .link {
    color: rgb(72, 126, 242);
  }
  .yout {
    color: red;
  }
  footer {
    background-color: #333; /* Couleur de fond du footer */
    color: #fff; /* Couleur du texte */
    padding: 20px 0; /* Espacement interne */
  }
  
  /* Style du container du footer */
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* Style des éléments du footer (gauche, centre, droite) */
  .footer-left, .footer-center {
    flex: 1;
    margin: 10px;
  }
  .footer-left, .footer-center h3 {
    color: orange;
    font-family: 'Palanquin Dark', sans-serif;
  }
  .footer-left p {
    font-family: 'Inter Tight', sans-serif;
    color: white;
  }
  .footer-left p:hover {
    color: #007bff;
  }
  
  /* Style des liens de navigation dans le footer */
  .footer-center ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-center ul li {
    margin-bottom: 5px;
  }
  
  .footer-center a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
    font-family: 'Laila', sans-serif;
  }
  
  .footer-center a:hover {
    color: #ff9900; /* Couleur au survol */
  }
  /* Style du bas du footer (copyright et liens légaux) */
  .footer-bottom {
    text-align: center;
    background-color: #222;
    padding: 10px 0;
    font-family: 'Laila', sans-serif;
  }
  
  .footer-bottom p, .footer-bottom ul {
    margin: 0;
    padding: 0;
  }
  
  .footer-bottom a {
    color: #ff9900;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .footer-bottom a:hover {
    text-decoration: underline;
    color: white;
  }